# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/

# SQLite DB (optional for clean repos)
*.db

# Node.js
node_modules/
dist/
.cache/

# OS
.DS_Store
Thumbs.db
